@using Falcon.Web.Mvc.HtmlExtensions
@model Phoenix.Server.Web.Areas.Admin.Models.Rating.RatingModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <div class="intro-y box p-5">
            <div>
                <label>Bình luận</label>
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control w-full border mt-2" } })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>

            <div class="mt-3">
                <label>Số sao</label>
                <div class="mt-2">
                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control input--switch border" } })
                </div>
            </div>
        </div>
    </div>
</div>
